:root {
  --spacing: 1em;
}

html,
body {
  --darkbg: #111;
  --darkfg: #eee;
  --primary: #50f40c;
  --secondary: #0f261f;
  --tertiary: #789194;
  --grey: #e9edea;
  --track: var(--grey);
  --background: #fff;
  --forground: #333;
  --track-color: var(--grey);
  font-size: 16px;
  font-family: gilroyregular, sans-serif;
  background-color: var(--background);
  color: var(--forground);
}

.container {
  width: 100%;
  background: #fff;
  padding: calc(var(--spacing) * 2);
  max-width: 1200px;
}

.page {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "head"
    "main"
    "foot";
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
}

form {
  width: 100%;
}

.header__sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--background);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caps {
  text-transform: uppercase;
}

/* @media (prefers-color-scheme: dark) {
	html,
	body {
		--darkbg: #111;
  	--darkfg: #eee;
		--background: var(--darkbg);
		--forground: var(--darkfg);
		--track-color: var(--secondary);
		color: var(--forground);
	}

	.container {
		background: var(--background);
	}

	.calculator {
		--grey: var(--secondary);
		--secondary: var(--tertiary);
		--track: var(--track-color);
	}
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
}

b {
  font-family: gilroybold, sans-serif;
}

h1,
h2,
.hero__number {
  font-family: gilroyextrabold, sans-serif;
}

label {
  font-family: gilroysemibold, sans-serif;
}
