<div class="header__sticky">
  <div class="calculator__graph">
    <div class="hero">
      <div id="hero" class="hero__number">00.00</div>
      <div class="hero__units caps">Gigabytes</div>
      <div class="hero__period caps">Over 30 Days</div>
    </div>
  </div>
  <div class="header__left">Time Remaining</div>
  <div class="header__right">Data Remaining</div>
</div>