<div class="calculator__total-cards">
  <div class="calculator__total-card">
    <span class="caps" style="color:#BDC5C4;">Your Calculation</span>
    <div class="calculator__total-card__value">
      <span id="total">0</span>
    </div>
    <i style="color:#BDC5C4;">per month</i>
  </div>
  <div class="calculator__total-card calculator__total-card--primary">
    <span class="caps">Your Price</span>
    <div class="calculator__total-card__value">
      $<span id="total-price">0.00</span>
    </div>
    <i>(Inc.
      <b>$1.99</b>
      platform fee)</i>
  </div>
</div>
