<h1>“If I don’t know how much data I need, how can you?”</h1>
<p>
  <b>Great question!</b> Our AI-guided mobile data forecast takes about 10
  days to accurately predict your usage, but you can check out this handy
  data calculator to get an idea of how much you might be using each
  month.
</p>