<p>Slider figures in bold above represent national averages for data use. Data consumption figures represented are approximate only. Pricing based on $2.10/GB plus $1.99 platform fee—no other taxes or fees are included (but may be applicable).
</p>