.page {
  position: relative;
  display: grid;
  gap: 0;
  grid-template-areas:
    "head"
    "main"
    "foot";
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
}

form {
  width: 100%;
}

.head {
  grid-area: head;
  position: sticky;
  top: 0;
  z-index: 4;
  display: block;
}
.nav {
  grid-area: main;
}
.foot {
  grid-area: foot;
}

p {
  margin-bottom: 1em;
}

form {
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
}

.background--primary {
  background-color: var(--primary);
}

.background--secondary {
  background-color: var(--secondary);
}

.background--tertiary {
  background-color: var(--tertiary-light);
}

.phone {
  display: none;
}

@media (min-width: 900px) {
  .page {
    display: grid;
    grid-template-areas:
      "main head"
      "main foot";
    grid-template-rows: 360px 1fr;
    grid-template-columns: auto 500px;
    gap: 2em;
  }

  .head {
    grid-area: head;
    position: relative;
    top: 12em;
    z-index: 4;
    display: block;
  }

  .nav {
    grid-area: main;
  }

  .foot {
    grid-area: foot;
    padding: 4em;
    top: 9em;
    position: relative;
    padding: 0 4em;
  }

  .phone {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background: transparent;
    z-index: 4;
    background-image: url(../images/device.png);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: center top;

    .phone-content {
      width: 100%;
      padding: 1em 2em;

      & svg {
        width: 100%;
      }
    }

    .phone-heading {
      padding: 0 2em;
      & h2 {
        font-size: 1.75em;
        padding-bottom: 0.25em;
        border-bottom: var(--secondary) 5px solid;
      }
    }
  }

  form {
    width: 100%;
  }
}

.calculator {
  --primary: #50f40c;
  --secondary: #0f261f;
  --tertiary: #789194;
  --tertiary-light: #f1f6f4;
  --grey: #e9edea;
  --track: var(--grey);

  .header__sticky {
    .header__left {
      display: block;
      position: absolute;
      bottom: -1em;
      left: 5.5em;
      font-size: 0.75em;
      text-transform: uppercase;
      &::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: var(--grey);
        margin-right: 1em;
        border-radius: 50%;
      }
    }
    .header__right {
      display: block;
      position: absolute;
      bottom: -1em;
      right: 5.5em;
      font-size: 0.75em;
      text-transform: uppercase;
      &::after {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: var(--primary);
        margin-left: 1em;
        border-radius: 50%;
      }
    }

    @media (max-width: 899px) {
      .header__left {
        display: none;
      }
      .header__right {
        display: none;
      }
    }
  }

  .calculator__graph {
    --amount: 100deg;
    position: relative;
    display: flex;
    width: 20em;
    height: 20em;
    margin: 2em 0;
    border-radius: 50%;
    transform: rotate(180deg);
    transition: background 1s ease;
    background-color: white;
    background: conic-gradient(
      var(--background) 0deg 2deg,
      var(--primary) 2deg var(--amount),
      var(--track) var(--amount) 358deg,
      var(--background) 358deg 360deg
    );

    @media (min-width: 900px) {
      margin: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 17em;
      height: 17em;
      background: var(--background);
      border-radius: 50%;
      margin: auto;
    }

    &::before {
      content: "";
      display: block;
      width: 14.75em;
      height: 14.75em;
      background: var(--background);
      border-radius: 50%;
      margin: auto;
      position: absolute;
      bottom: 2.25em;
      right: 2.25em;
      border: 0.375em solid var(--tertiary);
    }

    .hero {
      position: absolute;
      display: block;
      transform: rotate(-180deg);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        display: block;
        border-left: 0.125em solid var(--tertiary);
        background-color: var(--background);
        width: 0.5em;
        height: 1.75em;
        position: absolute;
        bottom: 2.25em;
        z-index: 2;
      }

      &::before {
        content: "";
        display: block;
        background-color: var(--tertiary);
        width: 0.375em;
        height: 0.375em;
        position: absolute;
        bottom: 4em;
        transform: translate(-0.25em, 0);
        border-radius: 50%;
        z-index: 3;
      }
    }

    .hero__number {
      font-size: 4em;
      font-weight: 900;
      color: var(--primary);
      margin-top: 0.5em;
    }

    .hero__units {
      color: var(--primary);
      font-size: 1em;
      font-weight: normal;
      font-family: gilroyextrabold;
      padding: 0.25em 0 0.5em;
    }

    .hero__period {
      color: var(--secondary);
      font-size: 0.8125em;
      font-weight: 500;
      border-top: 1px solid currentcolor;
      padding: 0.375em 0;
    }
  }

  .calculator__sliders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;

    .calculator__slider-label {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.25em;
      font-family: gilroybold, sans-serif;
      font-size: 0.9em;
      line-height: 1.5;
      font-weight: 500;
      color: var(--tertiary);
      z-index: 1;

      @media (min-width: 900px) {
        font-size: 1em;
      }
    }

    .calculator__slider-period {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 0.7em;
      font-weight: 100;
      color: var(--tertiary);
      @media (min-width: 900px) {
        font-size: 0.65em;
      }
    }

    .calculator__radio-label {
      text-transform: uppercase;
    }

    .calculator__radio {
      -webkit-appearance: none;
      appearance: none;
      font-size: 1em;
      margin: 0 0.25em 0 0.5em;
    }

    .calculator__radio::after {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: var(--grey);
      transition: 0.25s background-color ease;
    }

    .calculator__radio:checked::after {
      background-color: var(--primary);
    }

    .calculator__slider-label-help {
      color: var(--tertiary);
      font-size: 0.75em;
    }
  }

  .calculator__datalist {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    color: var(--tertiary);
    line-height: 2;
    display: none;

    & option {
      font-weight: 100;
      font-size: 0.75em;
    }
  }

  .calculator__datalist-mock {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    color: var(--tertiary);
    line-height: 2;
    font-weight: 100;
    font-size: 0.65em;
  }

  .calculator__total-cards {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
  }

  .calculator__total-card {
    width: 100%;
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 0.5em;
    z-index: 1;
    font-size: 0.75em;
    color: var(--grey);
  }

  .calculator__total-card--primary {
    background-color: var(--primary);
    color: var(--secondary);
  }

  .calculator__total-card__value {
    font-size: 2.5em;
    font-weight: 800;
  }

  .calculator__data-text-option {
    -webkit-appearance: none;
    appearance: none;
    font-size: 1em;

    &::after {
      content: "";
      display: block;
      width: 1.5em;
      height: 1.5em;
      border: 0.25em solid var(--grey);
      border-radius: 50%;
      background-color: transparent;
      transition: 0.25s background-color ease;
    }

    &:checked::after {
      background-color: var(--primary);
    }
  }

  .calculator__options {
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--tertiary);

    @media (min-width: 900px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
    }

    & label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 1em 0;
      gap: 0.5em;
      font-weight: 100;
      font-size: 0.75em;
    }
  }

  .calculator__section-label {
    font-size: 0.94em;
    font-family: gilroybold, sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color: var(--tertiary);
    padding: 1em 0 0;
    border-top: 1px solid var(--grey);
    @media (min-width: 900px) {
      font-size: 1em;
    }
  }

  .calculator__option-row label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 0 1em;
    border-top: 2px solid var(--grey);
    z-index: 3;
    background: var(--background);
  }

  .calculator__option-row label span {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
  }

  .calculator__option-row label input {
    font-size: 0.6em;
  }

  .calculator__option-row svg {
    width: 2em;
    height: 2em;
  }

  .calculator__help-text-panel {
    position: relative;
    z-index: 1;
    max-height: 100px;
    transition: max-height 0.15s ease-out, padding 0.15s ease-out;
    overflow: hidden;
    height: auto;
    padding: 1em;
    border-top: 2px solid var(--grey);

    &.closed {
      max-height: 0;
      padding: 0 1em;
      transition: max-height 0.15s ease-in, padding 0.15s ease-out;
    }
  }

  .calculator__help-text {
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 0.5em 0.5em;
  }

  /* === range theme and appearance === */
  & input[type="range"] {
    font-size: 2rem;
    width: 100%;
    border-radius: 2em;
  }

  & input[type="range"]:active {
    cursor: grabbing;
  }

  & input[type="range"]:disabled {
    filter: grayscale(0.8);
    opacity: 0.3;
    cursor: not-allowed;
  }

  & input[type="range"] {
    color: var(--primary);
    background: var(--secondary);
    position: relative;
    background: #ecefed;
    overflow: hidden;
    --thumb-height: 1em;
    --track-height: 1em;
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 1em;
  }

  /* === WebKit specific styles === */
  & input[type="range"],
  & input[type="range"]::-webkit-slider-runnable-track,
  & input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--thumb-height);
  }

  & input[type="range"]::-webkit-slider-runnable-track,
  & input[type="range"]::-webkit-slider-thumb {
    position: relative;
  }

  & input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: var(--thumb-height);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - 0.5em) 0 0 100vmax currentColor;
    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(white 0 0) scroll no-repeat left center / 50%
      calc(var(--track-height) + 1px);
    background-color: white;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));
    filter: brightness(100%);
    clip-path: polygon(
      100% -1px,
      var(--clip-edges) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--clip-edges) 100%,
      var(--clip-further) var(--clip-further)
    );
  }

  & input[type="range"]:hover::-webkit-slider-thumb {
    /* 	filter: brightness(var(--brightness-hover)); */
    cursor: grab;
  }

  & input[type="range"]:active::-webkit-slider-thumb {
    /* 	filter: brightness(var(--brightness-down)); */
    cursor: grabbing;
  }

  & input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
      100% calc(var(--track-height) + 1px);
  }

  & input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
  }

  /* === Firefox specific styles === */
  & input[type="range"],
  & input[type="range"]::-moz-range-track,
  & input[type="range"]::-moz-range-thumb {
    appearance: none;
    height: var(--thumb-height);
  }

  & input[type="range"]::-moz-range-track,
  & input[type="range"]::-moz-range-thumb,
  & input[type="range"]::-moz-range-progress {
    -moz-appearance: none;
    background: var(--track);
  }

  & input[type="range"]::-moz-range-thumb {
    background: white;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
  }

  & input[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
  }

  & input[type="range"]::-moz-range-track {
    width: 100%;
    background: var(--track-color);
  }

  & input[type="range"]::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
  }

  & input[type="range"]::-moz-range-track,
  & input[type="range"]::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
  }

  & input[type="range"]::-moz-range-thumb,
  & input[type="range"]::-moz-range-progress {
    filter: brightness(100%);
  }

  & input[type="range"]:hover::-moz-range-thumb,
  & input[type="range"]:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
  }

  & input[type="range"]:active::-moz-range-thumb,
  & input[type="range"]:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
  }

  & input[type="range"]:disabled::-moz-range-thumb {
    cursor: not-allowed;
  }
}
