:root {
  --spacing: 1em;
}

html,
body {
  --darkbg: #111;
  --darkfg: #eee;
  --primary: #50f40c;
  --secondary: #0f261f;
  --tertiary: #789194;
  --grey: #e9edea;
  --track: var(--grey);
  --background: #fff;
  --forground: #333;
  --track-color: var(--grey);
  font-size: 16px;
  font-family: gilroyregular, sans-serif;
  background-color: var(--background);
  color: var(--forground);
}

.container {
  width: 100%;
  background: #fff;
  padding: var(--spacing);
  max-width: 1200px;
}

@media (min-width: 480px) {
  .container {
    padding: calc(var(--spacing) * 2);
  }
}

.header__sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--background);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caps {
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
}

b {
  font-family: gilroybold, sans-serif;
}

h1,
h2,
.hero__number {
  font-family: gilroyextrabold, sans-serif;
}

label {
  font-family: gilroysemibold, sans-serif;
}
