<form class="calculator page">
  <section class="page__section head">
    {% include './hero-dial.liquid' %}
  </section>
  <section class="page__section nav">
    {% include './sliders.liquid' %}
  </section>
  <section class="page__section foot">
    {% include './text-options.liquid' %}
    {% include './total-cards.liquid' %}
  </section>
</form>