<div class="calculator__sliders">
  <ul>
    {% for slider in calculator.sliders %}
      {% include './slider.liquid', slider: slider %}
    {% endfor %}
  </ul>

  <div class="calculator__section-label">Talk/Text</div>
  <div class="calculator__options">
    <label for="talk-1">
      <input
        type="radio"
        id="talk-1"
        name="talk[]"
        value="4.50"
        class="data-text calculator__data-text-option"
        checked />
      Unlimited:
      <b>$4.50</b>
    </label>
    <label for="talk-2">
      <input
        type="radio"
        id="talk-2"
        name="talk[]"
        value="2.50"
        class="data-text calculator__data-text-option" />
      150:
      <b>$2.50</b>
    </label>
    <label for="talk-3">
      <input
        type="radio"
        id="talk-3"
        name="talk[]"
        value="1.50"
        class="data-text calculator__data-text-option" />
      50:
      <b>$1.50</b>
    </label>
    <label for="talk-4">
      <input
        type="radio"
        id="talk-4"
        name="talk[]"
        value="0"
        class="data-text calculator__data-text-option" />
      None:
      <b>$0</b>
    </label>
  </div>
</div>