<div class="calculator__option-row">
  <label for="optimiser-2">
    <span>
      <svg
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect
          width="24"
          height="24"
          fill="none" />
        <g clip-path="url(#clip0_3236_8728)">
          <path d="M20 20H4C2.89543 20 2 19.1046 2 18V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V18C22 19.1046 21.1046 20 20 20ZM4 6V18H20V6H4Z" fill="#789194" />
          <path d="M6.373 16.0004L5 14.6564L9.856 9.90036C10.2383 9.52884 10.8467 9.52884 11.229 9.90036L13.456 12.0814L16.8059 8.85433L18.3135 8.67236L18.1789 10.1983L14.144 14.1004C13.7617 14.4719 13.1533 14.4719 12.771 14.1004L10.543 11.9184L6.373 16.0004Z" fill="#789194" />
        </g>
        <defs>
          <clipPath id="clip0_3236_8728">
            <rect
              width="24"
              height="24"
              fill="none" />
          </clipPath>
        </defs>
      </svg>
      Video Optimiser</span>
    <input
      type="checkbox"
      id="optimiser-2"
      name="optimiser[]"
      value="-10.00"
      class="data-optimiser calculator__data-text-option" />
  </label>
  <p class="calculator__help-text background--tertiary">
    MobileX’s
    <b>Video</b>
    and
    <b>Speed Optimizers</b>
    will teach you
    the most efficient ways to adjust your device’s settings for data
                            use.</p>
  <p class="calculator__help-text">
    Ok so here’s your mobile data prediction, based on the estimates
    you’ve made above. REMEMBER—mobile data isn’t used whenever you’re
                            on a WiFi network, like at home or at work.</p>
</div>