<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Calculator</title>
    <link rel="stylesheet" href="./css/fonts.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/dataCalculator.css" />
  </head>

  <body>
    {% assign test = calculator %}
    <main class="container">
{% comment %}
      Blocked for new design {% include 'src/components/topContent.liquid' %}
{% endcomment %}
      {% include 'src/components/calculator/calculator.liquid' %}
{% comment %}
      Blocked for new design {% include 'src/components/bottomContent.liquid' %}
{% endcomment %} 
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
