<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Calculator</title>
    <link rel="stylesheet" href="./css/fonts.css?j=1" />
    <link rel="stylesheet" href="./css/style.css?j=1" />
    <link rel="stylesheet" href="./css/dataCalculator.css?j=1" />
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D3F2L3PJPF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D3F2L3PJPF');
</script>
  </head>

  <body>
    {% assign test = calculator %}
    <main class="container">
{% comment %}
      Blocked for new design {% include 'src/components/topContent.liquid' %}
{% endcomment %}
      {% include 'src/components/calculator/calculator.liquid' %}

  {% include 'src/components/bottomContent.liquid' %}

    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
